lithops==2.3.3

# Inference

transformers==4.5.1

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu

# Data handling
dataclasses-json==0.5.3
bs4==0.0.1



##### LOCAL-ONLY MODULES BELOW (are not required to be installed in the lithops runtime) #####

# Jupyter only
jupyter-dash==0.4.0
nbformat==5.1.3
ipywidgets

# Analysis phase, not distributed, replace 'cpu' with 'cu111' if you need local gpu acceleration
-f https://pytorch-geometric.com/whl/torch-1.8.0+cpu.html
torch-scatter
